/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-color:  #74AFAD;
	-fx-border-width: 5;
}
.button{
	-fx-background-color:#D9853B;
	-fx-text-fill:#f2f2f2;
}
.combo-box{
	-fx-background-color:#D9853B;
	-fx-text-fill:#f2f2f2;
    -fx-prompt-text-fill: #f2f2f2;
    -fx-font-family: Oxygen Light;
}
.combo-box .list-cell{
	-fx-text-fill: #f2f2f2;
	 -fx-font-family: Oxygen Light;
}
.combo-box-popup .list-view{
	-fx-background-color:#D9853B;

}
.combo-box-popup .list-view .list-cell
 {
-fx-background-color: #D9853B;
-fx-text-fill: #f2f2f2;
-fx-font-family: Oxygen Light;
 }
 
 .choice-box{
	-fx-background-color:#D9853B;

 }
 .choice-box .list-cell{
 	-fx-text-fill:#f2f2f2;
 	-fx-font-family: Oxygen Light;
 }
 .choice-box .context-menu{
 	-fx-background-color:#D9853B;
 }
 .choice-box .menu-item > .label
 {
-fx-background-color: #D9853B;
-fx-text-fill: #f2f2f2;
-fx-font-family: Oxygen Light;
 }
 .titled-pane{
 	-fx-background-color: #D9853B;
 }
 